:root {
  --primary-text-color: #2e2f42;
  --adress-and-text-color: #434343;
  --background-team-color: #f4f4fd;
  --web-and-btn-text-color: #4d5ae5;
  --footer-background-color: #2e2f42;
  --footer-studio-text-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --activ-text-color: #404bbf;
  --white-color: #ffffff;
  --border-color: #e7e9fc;
  --l-grad: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid tomato; */
}

.centered {
  text-align: center;
}

/* ----- Стилі головної сторінки -----  */

/* HEADER */
.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--footer-text-color);
}

.header-navigation {
}

/* Main nav  */

.main-nav {
  display: flex;
  align-items: center;
}

.header-logo.link {
  text-transform: uppercase;
}

.header-list.list {
  text-transform: capitalize;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-text-color);
  margin-right: 76px;
}

.blue-word {
  color: var(--web-and-btn-text-color);
}

.header-list {
  display: flex;
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--activ-text-color);
}

.header-list .link.current {
  color: var(--activ-text-color);
}

.header-item {
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--activ-text-color);
  bottom: 0;
}

.adress-list {
  display: flex;
  margin-left: auto;
}

.adress-item:not(:last-child) {
  margin-right: 40px;
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--activ-text-color);
}

.header-mail,
.header-tel {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-and-text-color);
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN */

.hero {
  background-color: var(--primary-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.overlay {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--l-grad), url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.pointer {
  cursor: pointer;
}

.hero-title .link:hover,
.hero-title .link:focus {
  color: var(--activ-text-color);
}

.hero-btn {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--web-and-btn-text-color);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn.link:hover,
.hero-btn.link:focus {
  background-color: var(--activ-text-color);
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}
.features-item {
  width: calc((100% - 72px) / 4);
}

.features-item:not(:last-child) {
  margin-right: 24px;
}

.features-item::before {
  display: block;
  content: '';
  height: 112px;
  margin-bottom: 8px;
  /* outline: solid red; */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--footer-studio-text-color);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/features-antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/features-clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/features-diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/features-astronaut.svg);
}

/* <!-- або ВАР 2: замінити before на: (у html)
<div class="">
  <svg class="" weight="" height="">
    <use href="./images/..."></use>
  </svg>
</div> (дивись 1:20 Репета2)--> */

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-and-text-color);
}
.doing {
  padding-bottom: 120px;
}

.doing-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.doing-item:nth-child(3n) {
  margin-right: 0;
}

.team {
  background-color: var(--background-team-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-list {
}

.team-img {
}

.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-and-text-color);
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--web-and-btn-text-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--activ-text-color);
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #8e8f99;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--activ-text-color);
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--activ-text-color);
}

/* FOOTER */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .link {
  text-transform: uppercase;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--footer-studio-text-color);
}

.footer-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
}

.soc-media {
  margin-left: 120px;
}

.soc-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.soc-media-text::first-letter {
  text-transform: capitalize;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd2a;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin-left: 80px;
}

.footer-subscribe-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
}

.subscribe-input {
  padding-left: 16px;
  display: block;
  color: var(--white-color);
  background: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-subscribe {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  padding: 0;
  color: var(--white-color);
  background-color: var(--web-and-btn-text-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  margin-left: 16px;
}

.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
  background: var(--activ-text-color);
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--web-and-btn-text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;

  transition-property: color, background-color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-list .link:hover,
.portfolio-filter-list .link:focus {
  color: var(--white-color);
  background-color: var(--activ-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.header-list .link.current {
  color: var(--activ-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  width: calc((100% - 48px) / 3);
  /* background-color: tomato; */
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-team-color);
  background-color: var(--web-and-btn-text-color);
  padding: 40px 32px 0 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text,
.portfolio-item:focus .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-img {
}

.portfolio-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-left: 1px solid var(--footer-text-color);
  border-bottom: 1px solid var(--footer-text-color);
  border-right: 1px solid var(--footer-text-color);
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-and-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px;
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 0) scale(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
  background-color: var(--activ-text-color);
  border-color: transparent;
}

.modal-close:is(:hover, :focus) .modal-close-icon {
  fill: var(--white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.modal-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #998e92;
  margin-bottom: 8px;
}

.modal-field-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #998e92;
  margin-bottom: 16px;
}

.modal-field-accept {
  margin-bottom: 24px;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input {
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 0 8px 38px;
}

.modal-input:focus {
  border-color: var(--web-and-btn-text-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--web-and-btn-text-color);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

/* розібратися (не працює) */
.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-message {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  margin-top: 4px;
  resize: none;
}

.modal-message:focus {
  border-color: var(--web-and-btn-text-color);
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  align-items: center;
}

.privacy-link {
  text-decoration: underline;
  display: block;
  /* display: inline-flex; */
}

/* варіант №1 checkbox: */
.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--footer-background-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--activ-text-color);
  border: none;
  fill: var(--background-team-color);
}

.input-check:focus + .check-text span {
  border-color: var(--activ-text-color);
}

/* варіант №2 checkbox:
.check-text::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--footer-background-color);
  border-radius: 2px;
  margin-right: 8px;
}

.input-check:checked + .check-text::before {
  background-color: var(--activ-text-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-check:focus + .check-text::before {
  border-color: var(--activ-text-color);
} */

.modal-btn-send {
  margin: 0 auto;
  width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--web-and-btn-text-color);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background: var(--activ-text-color);
}
